<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/"> Inicio </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--TODO: Hacer que todo esto lo cargue desde el modelo
      y hacer un put que modifique los datos del usuario en el servidor-->
      
<ion-row *ngIf="user">
  <div class="ImagenPerfil">
    <p class="nomUsuario"> {{ user.nombre }} </p>
    <img [src]="user.avatar" alt=" {{ user.nombre }} ">
    
    <p class="editar">Editar</p>
  </div>
</ion-row>

<ion-row>

  <ion-col size="12" size-md="8">
    <ion-card>
      <ion-card-content>
        <form>
          <ion-item>
            <ion-label position="floating">Nombre de usuario</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Gmail</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Telefono</ion-label>
            <ion-input type="tel"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Fecha de Nacimiento</ion-label>
            <ion-input type="date"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="floating">Genero</ion-label>
            <ion-select interface="popover">
              <ion-select-option>Hombre</ion-select-option>
              <ion-select-option>Mujer</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-button expand="full" color="success">Actualizar perfil</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <!-- Column -->
</ion-row>
</ion-content>

<app-tabs></app-tabs>