
<ion-content class="BodyMain">

    <ion-grid class="bodyMain">
  
      <ion-row class="modalSubirImagen">
        <ion-col class="containerModal">
  
          <ion-header>
            <ion-toolbar>
              <ion-title>Subir Reporte</ion-title>
            </ion-toolbar>
          </ion-header>
  
          <ion-row class="rowSubirImagen">
            <ion-img id="imagenTest" src="../../assets/Media/SubirFoto.png" (click)="LoadPhoto()" alt="Sube o toma una imagen porfavor"></ion-img>
          </ion-row>
  
          <ion-row class="rowDetalles">
            <ion-col>
              <ion-input label="Nombre del Reporte" labelPlacement="floating" type="text" name="txtNombre" id="txtNombre"></ion-input>
            </ion-col>
            <ion-col>
             
              <ion-input label="Detalles del Reporte" labelPlacement="floating" type="text" name="txtDetalles" id="txtDetalles"></ion-input>
            </ion-col>
          </ion-row>
  
          <!--Categorías-->
             <!--
            <swiper-container [slidesPerView]="3" [loop]="true">
                <swiper-slide *ngFor="let categoria of Categorias">
                    <div class="categoria" [style]="background-color:#{{ categoria.Color }}">
                        <p>{{categoria.Nombre}}</p>
                    </div>
                </swiper-slide>
              </swiper-container>
              -->
                
              
     


          <ion-row>
            <ion-col>
              <ion-button class="guardarbdd" id="guardarFotoBdd" (click)="guardarFotoBdd()">Guardar Información</ion-button>
            </ion-col>
          </ion-row>
  
        </ion-col>
      </ion-row>
  
    </ion-grid>
  
  </ion-content>
  