
@mixin EstilosBoton(){
    padding: 1%;
    border-radius: 15px;
    font-size: 15px;
    transition: all 0.2s;

    &:hover{
        position: translateY(-5%);
    }

}

.BodyMain{
    h2{
        text-align: center;
    }
}

.Botones{
    width: 50vw;
    display: flex;
    justify-content: center;
    button{
      padding: 2%;
      font-size: 2vw;
        transition: all 0.2s;

        &:hover{
            transform: translateY(-15%);
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        }

     .btnData{
        background-color: greenyellow;
     }  
     .btnClose{
        color: white;
        background-color: brown;
     } 

    }
}

.modalSubirImagen{
    button{
        @include EstilosBoton();
    }

    h2, label, input{
        color: white;
    }
    width: 100vw;
    height: fit-content;

    display: flex;
    justify-content: center;

    .containerModal{
        width: 60%;
        background-color: rgba(255,255,255,0.1);
        padding: 2%;
        border-radius: 15px;
        .rowSubirImagen{
            
            img{
                margin-left: 10%;
                width: 100px;
            }
        }
        .rowDetalles{
            display: flex;
            flex-flow: column;
            input, label{
                font-size: 15px;
            }

        }

        .guardarbdd{
            margin: 2%;
        }

    }

}