
<ion-content [fullscreen]="true">

 

    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button> Inicio </ion-button>
        </ion-buttons>
        <ion-chip slot="end"> <!--Tenemos que cargar la informaciòn del usuario registrado-->
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Avatar Chip</ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>
      </ion-toolbar>
    </ion-header>


    <app-reportes></app-reportes>

    <ion-row>
   

    <ion-button href="/usuario">TestUsuario</ion-button>

  <ion-content class="ion-padding">
    <ion-button id="open-modal" expand="block">Open</ion-button>
    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()"><ion-icon name="close-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <app-login></app-login>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
  </ion-row>

  

  </ion-content>
  
  


    <app-tabs></app-tabs>
  