

    <ion-grid>
      <ion-row justify-content-center>
        <ion-col>
          <ion-card class="text-center">
            <ion-card-content class="mt-5 mb-5">
              <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
              <h1 class="h3 mb-3 fw-normal">Log In</h1>
              <ion-item class="form-floating">
                <ion-label position="floating">Correo</ion-label>
                <ion-input type="text" id="floatingInput" placeholder="name@example.com"></ion-input>
              </ion-item>
              <ion-item class="form-floating mt-1">
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" id="floatingPassword" placeholder="Password"></ion-input>
              </ion-item>
              <ion-item class="checkbox mb-3">
                <ion-label>
                  <ion-checkbox value="remember-me"></ion-checkbox> Recordar Usuario
                </ion-label>
              </ion-item>
              <ion-button expand="full" class="btn-primary" (click)="login()">Registrarse</ion-button>
              <div class="or-container">
                <div class="line-separator"></div>
                <div class="or-label">o</div>
                <div class="line-separator"></div>
              </div>
              <div>
                <ion-button expand="full" class="btn-primary" (click)="login()">
                  <ion-icon slot="start" name="logo-google"></ion-icon>
                  Registrarse con Google
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>  